.list-group-item-action:focus, .list-group-item-action:hover {
    background-color: transparent!important;
}
.btn-primary {
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-group-item-action:active {
    background-color: transparent!important;
}